extends layout

block content
  h1='Daily Cat'
  ul
    for cat in cats
      li
        h2= `Quote of ${cat.date}`
        p= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ante at diam imperdiet maximus.'
        img(
          src=cat.url,
          alt='Cat Image'
          class='cat-image'
          )
