extends layout

block content
  div(id='navbar')
    h1(id='page-title')='Dailycat'
  ul(id="cat-list")
    for cat in cats
      li(class="cat-item")
        img(
          src=cat.url,
          alt='Cat Image'
          class='cat-image'
        )
        div(class='cat-data-wrapper')
          h2(class='cat-date')= cat.date
          p(class='cat-quote')= '"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ante at diam imperdiet maximus."'

