<div class="container">
    <%
        let numberOfPages = Math.ceil(total / paginationLimit);
        const minRange = pageNumber - pageOffset;
        const maxRange = pageNumber + pageOffset;
    %>
    <%
        const canGoPrevious = pageNumber > 1
        const btnPreviousDisabledClass = canGoPrevious
                ? ''
                : 'disabled';
    %>
    <button class="prev btn <%= btnPreviousDisabledClass %>">
        <a href="/<%= canGoPrevious ? pageNumber - 1 : pageNumber %>">
            <i class="fa-solid fa-circle-chevron-left page"></i>
        </a>
    </button>
    <ul id="page-container">
        <% for (let i = 1; i <= numberOfPages; i++) {%>
            <% if (i >= minRange && i <= maxRange && i <= numberOfPages) { %>
                <li class="page <%= pageNumber === i ? 'active' : '' %>">
                    <a href="/<%= i %>">
                        <%= i %>
                    </a>
                </li>
            <%}%>
        <%}%>
    </ul>
    <%
        const canGoNext = pageNumber < numberOfPages
        const btnDisabledClass = canGoNext ? '' : 'disabled';
    %>
    <button class="next btn <%= btnDisabledClass %>">
        <a href="/<%= canGoNext ? pageNumber + 1 : pageNumber %>">
            <i class="fa-solid fa-circle-chevron-right page"></i>
        </a>
    </button>
</div>
